/* MY STYLESHEET (mystyles.css") */

a:link, a:visited {
    color:darkslategray;
    background-color:transparent;
    font-family:Helvetica, Arial, sans-serif;
    text-decoration:none;
}

a:hover, a:active {
    color:lightseagreen;
    background-color:transparent;
    font-family:Helvetica, Arial, sans-serif;
    text-decoration:none;
}

h1 {
    margin: 20px;
    color:cadetblue;
    font-family:Garamond, Georgia, Times, serif;
    font-weight:bold;
    font: 36px;
}

h2 {
    margin: 20px;
    color:darkslateblue;
    font-family:Garamond, Georgia, Times, serif;
    font-weight:bold;
    font: 24px;
}

p {
    margin: 20px;
    color:black;
    font-family:Helvetica, Arial, sans-serif;
    font: 12px;
}

.page {
    background-color:azure;
    color:black;
    font-family:Helvetica, Arial, sans-serif;
    border: 4px solid black;
    margin: 20px;
    padding: 20px;
}

li.navigation {
    display:inline;
    text-align:right;
    margin: 20px;
    line-height:20px;
    color:darkslategray;
    font-family:Helvetica, Arial, sans-serif;
    font-weight:bold;
    font-variant-caps:all-small-caps;
    font: 16px;
}

li.contactlinks {
    display:inline;
    line-height:20px;
    color:black;
    font-family:Helvetica, Arial, sans-serif;
    font: 10px;
}

ol {
    list-style:none;
    }

.footer {
    text-align:center;
    color:black;
    font-family:Helvetica, Arial, sans-serif;
    font: 8px;
}

